<div class="container pagina">
    
    <app-titulo [titulo]="titulo"></app-titulo>
    
    <div class="container">
        <div class="row informacao">
            <h6>Selecione o período do relatório:</h6>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-xl-8 periodo">
                <form [formGroup]="relatorioForm">
                    <input type="text" class="form-control mb-3"
                    placeholder="dd/mm/yyyy - dd/mm/yyyy" bsDaterangepicker formControlName="datas" [bsConfig]="{ dateInputFormat: 'dd-MM-yyyy' }"/>
                </form>
            </div>
            <div class="col"></div>
            <div class="col-xs-12 col-2 col-sm-2 col-md-2 col-xl-2 relatorio">
                <button class="btn btn-info btn-lg" (click)="gerar()">Gerar Relatório</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div *ngIf="relatorioMes" class="input-group-append m-2">
                    <h5>Valor Total: {{relatorioMes.valorTotal | currency: 'BRL' : 'symbol' : '1.2'}}
                    </h5>
                </div>          
            </div>
        </div>
        <div *ngIf="relatorioMes" class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Funcionário</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Custo Individual</th>
                        <th scope="col">Fração da Despesa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let funcionario of funcionarios">
                        <td>{{funcionario.nome}} {{funcionario.sobrenome}}</td>
                        <td>{{funcionario.setor}}</td>
                        <td>{{custoFuncionario(funcionario, relatorioMes) | currency: 'BRL' : 'symbol' : '1.2'}}</td>
                        <td scope="row">
                            <progressbar [max]="relatorioMes.valorTotal" [value]="custoFuncionario(funcionario, relatorioMes)"></progressbar>
                            <small><em><b>Porcentagem do custo total: {{(100 * custoFuncionario(funcionario, relatorioMes) / relatorioMes.valorTotal) | number: '1.2'}}%</b></em></small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>