.pagina {
    padding-top: 15vh;
  }

.informacao {
  margin-top: 25px;
}

.relatorio {
    display: grid;
    align-content: center;
    justify-items: center;
}

.Periodo {
  display: grid;
  align-content: center;
  justify-items: left;
}