table {
  width: 100%;
}

span {
  margin-left: 6px;
}

.btn-relatorios {
  border-bottom: 2px solid thistle;
  padding-bottom: 14px;
}

.link {
  color: white;
}

.link:hover {
  color: white;
  text-transform: none;
  text-decoration: none;
}